body {
    font-family: 'Manrope', sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 38px;
    margin-top: 0px;
    margin-bottom: 0px;
}

footer {
    background: rgb(28, 68, 116);
    color: white;
}

h2 {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: italic;
    color: gray;
    margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
    color: gray;
    font-size: 11.5px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

li {
    display: flex;
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.fondo-header {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url(img/header-background.png) no-repeat center top;    
    background-size: cover;
    filter: grayscale(100%);
    opacity: 0.1;
    z-index: -1;
}

.header-section {
    padding-top: 38px;
    padding-bottom: 38px;
}

.header-container {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
}

.header-container a{
    text-decoration: none;
}

.header-lateral-izq {
    display: flex;
    align-items: center;
    width: 10%;
}

.header-lateral-izq img{
    margin-right: auto;
}

.header-lateral-der {
    display: flex;
    align-items: center;
    width: 10%;
}

.header-lateral-der nav{
    margin-left: auto;
}

.header-lateral-der nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 11px;
    width: 18px;
    height: 18px;
    color: rgb(28, 68, 116);
    border-radius: 50%;
    border: 1px solid rgb(28, 68, 116);
}

.header-lateral-der li{
    margin-left: 7px;
    padding-left: 0;
    padding-right: 0;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: 12px;
}

.header-nav nav a {
    color: black;
    font-weight: 500;
}

nav ul {
    display: flex;
    padding: 0;
}

main section {
    padding-top: 95px;
    padding-bottom: 90px;
    font-size: 10.95px;
    font-weight: 500;
    position: relative;
}

main section  p {
    line-height: 1.5;
}

.pre-titulo {
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 4px;
}

.titulo {
    text-align: center;
    margin-bottom: 15px;
}

.post-titulo {
    text-align: center;
    margin-bottom: 24px;
}

.header-first-section {
    justify-content: center;
    padding-top: 27px;
}

.header-first-section h1{
    color: rgb(28, 68, 116);
}

.video-presentacion {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 85px;
    margin-bottom: 5px;
    background: linear-gradient(to bottom, transparent 50%, white 50%, white);
}

.video-presentacion iframe {
    width: 750px;
    height: 422px;
    border-radius: 32px;
    margin-left: auto;
    margin-right: auto;
}

.ghost-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Playfair Display', serif;
    font-size: 38px;
    color: gray;
}

.main-impar {
    color: black;
    background-color: white;
}

.main-impar h1{
    color: rgb(28, 68, 116);
}

.main-par {
    color: white;
    background-color: rgb(28, 68, 116);
    text-align: center;
}

.main-par h1{
    color: white;
}

.section-content-izq {
    text-align: center;
    margin-right: auto;
    width: 70%;
}

.section-content-center {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.section-content-der {
    text-align: center;
    margin-left: auto;
    width: 70%;
}

.section-img-der {
    position: absolute;
    background: url(img/foto_01.jpg) no-repeat;
    background-position: left 75%;
    background-size: 170% auto;
    width: 54.5%;
    height: 101%;
    border-radius: 50%;
    top: 62%;
    left: 82%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.section-img-izq {
    position: absolute;
    background: url(img/foto_02.jpg) no-repeat;
    background-position: right 75%;
    background-size: auto 100%;
    width: 57.6%;
    height: 135%;
    border-radius: 50%;
    top: 41%;
    left: 15%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

footer strong {
    font-weight: 500;
}

.footer-container {
    display: flex;
    justify-content: center;
    font-size: 10.5px;
    padding-top: 95px;
    padding-bottom: 60px;
    font-weight: 300;
}

.footer-container p {
    line-height: 1.2;
    margin-bottom: 28px;
}

.footer-container .pre-titulo {
    line-height: 1.2;
    margin-bottom: 25px;
}

.footer-lateral-izq {
    width: 20%;
    text-align: center;
}

.footer-lateral-izq nav {
    display: flex;
    justify-content: center;
}

.footer-lateral-izq nav li{
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
}

.footer-lateral-izq nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 13px;
    width: 18px;
    height: 18px;
    color: white;
    border-radius: 50%;
    border: 1px solid white;
}

.footer-central {
    width: 30%;
    text-align: center;
}

.e-mail-contact {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 8px;
    border-radius: 20px;
    border: 1px solid white;
    position: relative;
}

.e-mail-contact a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: white;
    color: rgb(28, 68, 116);
    font-size: 13px;
    width: 33px;
    height: 33px;
    transform: translate(-100%,-50%);
    top: 50%;
    left: 100%;
    border-radius: 50%;
    z-index: 1;
}

.input-info {
    background-color: transparent;
    width: 100%;
    padding: 0 17px;
    border: 0;
    color: white;
}

.input-info::placeholder {
    color: white;
    font-weight: 500;
    font-size: 10.5px;
}

.footer-lateral-der {
    width: 20%;
    text-align: center;
}

.sello-container {
    padding: 24px 0;
}

.sello {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    margin: 0 auto;
}

.logo-sello {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: invert(1);
}

.descripcion-sello {
    padding-left: 7px;
}

.titulo-sello {
    font-size: 19px;
    font-weight: 500;
}

.subtitulo-sello {
    font-size: 11.7px;
    font-weight: 400;
    font-style: italic;
}

.info-adicional {
    text-align: center;
    font-size: 8px;
    padding-bottom: 30px;
}