* {
    font-family: 'Manrope', sans-serif;
}

h1 {
    font-family: 'Playfair Display', serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

li {
    display: flex;
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.header-section {
    padding-top: 38px;
    padding-bottom: 38px;
}

.header-container {
    display: flex;
    /*width: 1170px;*/
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
}

.header-container a{
    text-decoration: none;
}

.header-lateral-izq {
    display: flex;
    align-items: center;
    width: 10%;
}

.header-lateral-izq img{
    margin-right: auto;
}

.header-lateral-der {
    display: flex;
    align-items: center;
    width: 10%;
}

.header-lateral-der nav{
    margin-left: auto;
}

.header-lateral-der nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 11px;
    width: 18px;
    height: 18px;
    /*
    background: ;
    */
    color: darkblue;
    border-radius: 50%;
    border: 1px solid darkblue;
}

.header-lateral-der li{
    margin-left: 7px;
    padding-left: 0;
    padding-right: 0;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: 12px;
}

.header-nav nav a {
    color: black;
    font-weight: 500;
}

nav ul {
    display: flex;
    padding: 0;
}